## Question 2. SQL.

Follow this [link to access](https://www.w3schools.com/SQL/TRYSQL.ASP?FILENAME=TRYSQL_SELECT_ALL) the data set required for the challenge. Please use queries to answer the following questions. Paste your queries along with your final numerical answers below.

Task for solving:
1. How many orders were shipped by Speedy Express in total?
2. What is the last name of the employee with the most orders?
3. What product was ordered the most by customers in Germany?

### How many orders were shipped by Speedy Express in total?

In [ ]:
# Query
SELECT count(*) as 'Number of Orders by Speedy Express' FROM Shippers, Orders
WHERE Orders.ShipperID = Shippers.ShipperID AND Shippers.ShipperID = 1 /*or Shippers.ShipperName = 'Speedy Express' */
GROUP BY Shippers.ShipperID;

# answer = 54

### What is the last name of the employee with the most orders?

In [ ]:
# Query
SELECT Employees.LastName as 'LastName', count(*) as o FROM Orders, Employees
WHERE Orders.EmployeeID = Employees.EmployeeID
GROUP BY Employees.LastName;

# answer = 40 for Peacock

### What product was ordered the most by customers in Germany?

In [ ]:
# Query
SELECT top 1 ProductName FROM (SELECT Products.ProductName, count(*) as counts FROM Customers, Orders, OrderDetails, Products
WHERE Customers.CustomerID = Orders.CustomerID AND OrderDetails.OrderID = Orders.OrderID AND Products.ProductID = OrderDetails.ProductID AND Customers.Country = 'Germany'
GROUP BY Products.ProductName) temp
ORDER BY counts DESC

# answer = Gorgonzola Telino